In [1]:
from pymongo import MongoClient
import pandas as pd
from IPython.display import display
import numpy as np
import re

In [2]:
client = MongoClient('mongodb+srv://HSoni:E0RQoRcFRqg4MFOt@joblists.r9yjyat.mongodb.net/?retryWrites=true&w=majority')
db = client['job_scraping']
collection = db['job_data_collection']

In [3]:
cursor = collection.find()
list_cur = list(cursor)
df = pd.DataFrame.from_records(list_cur)

In [4]:
display(df)

,_id,ID,Title,Company,Experience,Salary,Location,URL,Skills
0,65361959c1b178f660066b37,1,Python Developer,Quest Global,4-7 Yrs,Not disclosed,Bangalore/Bengaluru,https://www.naukri.com/job-listings-python-dev...,"Python Developer, Lamda, Python Development, A..."
1,65361959c1b178f660066b38,2,Python Developer,Jio,6-8 Yrs,Not disclosed,"Bangalore/Bengaluru, Mumbai (All Areas)",https://www.naukri.com/job-listings-python-dev...,Python Perl/Shell script Caching service / Re...
2,65361959c1b178f660066b39,3,"Python Developer @ Nttdata, Remote",NTT DATA INFORMATION PROCESSING SERVICES,7-12 Yrs,12-20 Lacs PA,Remote,https://www.naukri.com/job-listings-python-dev...,"Django, Developer, Python, Algorithms, Test, D..."
3,65361959c1b178f660066b3a,4,Senior Software Developer (Python/Shotgun/Djan...,Technicolor Creative Studios,5-10 Yrs,Not disclosed,Bangalore/Bengaluru(Whitefield),https://www.naukri.com/job-listings-senior-sof...,"Django, Shotgun, Python, Flask, Javascript, Se..."
4,65361959c1b178f660066b3b,5,Senior Software Developer (Python/Pyqt/Opencv),Technicolor Creative Studios,5-10 Yrs,Not disclosed,Bangalore/Bengaluru(Whitefield),https://www.naukri.com/job-listings-senior-sof...,"Opencv, Pyqt, Python, Pyside, QT, Software, Py..."
...,...,...,...,...,...,...,...,...,...
1826,65361e00c1b178f66006725a,1828,Senior Python Engineer,Hexaquest Global - India,5-7 Yrs,Not disclosed,Mysore/Mysuru,https://www.naukri.com/job-listings-senior-pyt...,"Python, Senior"
1827,65361e00c1b178f66006725b,1829,Senior Python Engineer,Hexaquest Global - India,5-7 Yrs,Not disclosed,Mysore/Mysuru,https://www.naukri.com/job-listings-senior-pyt...,"Cloud, Python, microservices, Senior"
1828,65361e00c1b178f66006725c,1830,Sr. Engineer(Python),Coders Brain Pvt Ltd,6-8 Yrs,Not disclosed,Gurgaon/Gurugram,https://www.naukri.com/job-listings-sr-enginee...,"Networking, Manager Technology, Technical Lead..."
1829,65361e00c1b178f66006725d,1831,Content Writer- Python,IBM,1-4 Yrs,Not disclosed,Bangalore/Bengaluru,https://www.naukri.com/job-listings-content-wr...,"Coding, Technical writing, SEO, Product market..."
1830,65361e0dc1b178f66006725e,1832,Senior Software Engineer (Python/GoLang Progra...,Ushur,5-8 Yrs,Not disclosed,Bangalore/Bengaluru,https://www.naukri.com/job-listings-senior-sof...,"Automation, Linux, Machine learning, Healthcar..."

In [5]:
df.drop(columns=["ID"],inplace=True)

In [6]:
salary_df=df[df["Salary"]!="Not disclosed"]

In [7]:
def convert_salary_to_numeric(salary_range):
    # Handle "unpaid" salary
    if "unpaid" in salary_range.lower():
        return 0

    # Handle "Less than X" format
    elif "less than" in salary_range.lower():
        lower_limit = 0
        upper_limit = float(re.search(r'\d+', salary_range).group())
        return upper_limit / 100000  # Convert to LPA

    # Handle "X/month" format
    elif "/month" in salary_range.lower():
        salary_parts = re.findall(r'\d+', salary_range)
        if len(salary_parts) > 0:
            return float(salary_parts[0]) * 12 / 100000  # Convert monthly to LPA

    # Handle other salary formats like "X-Y Lacs PA" or "X-Y Lacs PA (Including Variable: Z%)"
    salary_parts = re.findall(r'\d+\.\d+|\d+', salary_range)
    if len(salary_parts) >= 2:
        lower_limit = float(salary_parts[0])
        upper_limit = float(salary_parts[1])
        return (lower_limit + upper_limit) / 2
    
    elif "lacs pa" in salary_range.lower():
        return float(re.search(r'\d+', salary_range).group())

    else:
        return None  # Handle any exceptions gracefully

# Apply the function to the "Salary" column
salary_df['Salary_LPA'] = salary_df['Salary'].apply(convert_salary_to_numeric)

C:\Users\user\AppData\Local\Temp\ipykernel_1152\2706843017.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_df['Salary_LPA'] = salary_df['Salary'].apply(convert_salary_to_numeric)

In [8]:
display(salary_df)

,_id,Title,Company,Experience,Salary,Location,URL,Skills,Salary_LPA
2,65361959c1b178f660066b39,"Python Developer @ Nttdata, Remote",NTT DATA INFORMATION PROCESSING SERVICES,7-12 Yrs,12-20 Lacs PA,Remote,https://www.naukri.com/job-listings-python-dev...,"Django, Developer, Python, Algorithms, Test, D...",16.0
7,65361959c1b178f660066b3e,python Developer,Nest Digital,5-8 Yrs,12-20 Lacs PA,"Hybrid - Kochi/ Cochin, Kerala, Bangalore/ Ben...",https://www.naukri.com/job-listings-python-dev...,"Javascript, Python Development, Python, Develo...",16.0
8,65361959c1b178f660066b3f,Python Developer,Bonami Software,0-2 Yrs,5-8 Lacs PA,"New Delhi, Delhi / NCR",https://www.naukri.com/job-listings-python-dev...,"Software Engineering, Django, Python, Data Str...",6.5
9,65361959c1b178f660066b40,Python Developer,Byteview Technologies,0-3 Yrs,2-6 Lacs PA,"Noida, Delhi / NCR",https://www.naukri.com/job-listings-python-dev...,"MongoDB, Python, GIT, Django, Html5, Web Techn...",4.0
10,65361959c1b178f660066b41,Python Developer,Rekrut India,5-10 Yrs,20-25 Lacs PA,"Pune, Maharashtra",https://www.naukri.com/job-listings-python-dev...,"microservices, Django, API, Python, Flask, Pyt...",22.5
...,...,...,...,...,...,...,...,...,...
1800,65361b87c1b178f66006723f,Backend Developer Python or Java,Rapidor,5-10 Yrs,12-22 Lacs PA,"Kochi/ Cochin, Kerala",https://www.naukri.com/job-listings-backend-de...,"Java, Python, Backend Development, Backend, Dj...",17.0
1801,65361bd3c1b178f660067241,CONTRACT_Python Developer,Varite,5-9 Yrs,12-22 Lacs PA,Remote,https://www.naukri.com/job-listings-contract-p...,"Coding, Python, Docker, Kubernetes, Development",17.0
1804,65361c07c1b178f660067244,Senior Python + GCP Engineer,Neuronimbus Software Services,6-10 Yrs,12-15 Lacs PA,Hybrid - Bangalore/Bengaluru,https://www.naukri.com/job-listings-senior-pyt...,"GCP, Python, Kafka, Senior",13.5
1818,65361d5dc1b178f660067252,Python Engineer,Wipzo Systech,5-8 Yrs,20-30 Lacs PA,"Hybrid - Hyderabad/ Secunderabad, Telangana, C...",https://www.naukri.com/job-listings-python-eng...,"python, Backend, Data Structures, Microservice...",25.0
1823,65361db4c1b178f660067257,Senior Python Engineer,Sangathr Career Management Consultants,4-8 Yrs,10-20 Lacs PA,"Chennai, Tamil Nadu(Ekkaduthangal)",https://www.naukri.com/job-listings-senior-pyt...,"python, restAPI, Flask, SQL, Rest, Senior",15.0

In [9]:
salary_df['City'] = salary_df['Location'].str.split(',').str[0]
salaries = salary_df['Salary_LPA'].to_numpy()
cities = salary_df['City'].to_numpy()
unique_cities = np.unique(cities)
city_avg_salaries = {}
for city in unique_cities:
    city_salaries = salaries[cities == city]
    avg_salary = np.mean(city_salaries)
    city_avg_salaries[city] = avg_salary
for city, avg_salary in city_avg_salaries.items():
    print(f'{city}: Average Salary = {avg_salary:.2f} LPA')

Ahmedabad: Average Salary = 3.50 LPA
Amritsar: Average Salary = 0.00 LPA
Bangalore Rural: Average Salary = 15.00 LPA
Bangalore/ Bengaluru: Average Salary = 20.50 LPA
Bangalore/Bengaluru: Average Salary = 15.04 LPA
Bhopal: Average Salary = 0.00 LPA
Bhubaneswar: Average Salary = 0.00 LPA
Chandigarh: Average Salary = 4.50 LPA
Chennai: Average Salary = 11.40 LPA
Chennai(Kamaraj Nagar): Average Salary = 1.88 LPA
Chennai(Taramani): Average Salary = 17.00 LPA
Dehradun: Average Salary = 6.50 LPA
Delhi / NCR: Average Salary = 7.38 LPA
Dubai: Average Salary = 7.50 LPA
Gandhinagar: Average Salary = 8.50 LPA
Gurgaon/ Gurugram: Average Salary = 14.36 LPA
Gurgaon/Gurugram: Average Salary = 4.00 LPA
Hybrid - Bangalore/ Bengaluru: Average Salary = 20.42 LPA
Hybrid - Bangalore/Bengaluru: Average Salary = 16.67 LPA
Hybrid - Chennai: Average Salary = 16.12 LPA
Hybrid - Gurgaon/ Gurugram: Average Salary = 18.83 LPA
Hybrid - Hyderabad/ Secunderabad: Average Salary = 16.58 LPA
Hybrid - Hyderabad/Secunderabad: Average Salary = 14.67 LPA
Hybrid - Hyderabad/Secunderabad(Madhapur): Average Salary = 22.50 LPA
Hybrid - Indore: Average Salary = 32.50 LPA
Hybrid - Jaipur: Average Salary = 11.50 LPA
Hybrid - Kochi/ Cochin: Average Salary = 15.75 LPA
Hybrid - Kolkata: Average Salary = 4.25 LPA
Hybrid - Mumbai: Average Salary = 8.50 LPA
Hybrid - Mumbai (All Areas): Average Salary = 22.50 LPA
Hybrid - Pimpri-Chinchwad: Average Salary = 32.50 LPA
Hybrid - Pune: Average Salary = 22.04 LPA
Hybrid - Pune(Kalyani Nagar): Average Salary = 15.00 LPA
Hyderabad/ Secunderabad: Average Salary = 14.05 LPA
Hyderabad/Secunderabad: Average Salary = 19.14 LPA
Hyderabad/Secunderabad(Cyber Hills): Average Salary = 21.25 LPA
Hyderabad/Secunderabad(Uppal): Average Salary = 10.00 LPA
Indore: Average Salary = 2.31 LPA
Jaipur: Average Salary = 3.31 LPA
Kochi/ Cochin: Average Salary = 11.50 LPA
Kochi/Cochin: Average Salary = 5.75 LPA
Kolkata: Average Salary = 10.92 LPA
Lucknow: Average Salary = 4.50 LPA
Mohali: Average Salary = 8.00 LPA
Mumbai: Average Salary = 5.97 LPA
Mumbai (All Areas): Average Salary = 11.79 LPA
Mumbai Suburban: Average Salary = 5.42 LPA
Nagpur: Average Salary = 1.69 LPA
Navi Mumbai: Average Salary = 4.00 LPA
New Delhi: Average Salary = 3.42 LPA
New Delhi(Defence Colony): Average Salary = 4.62 LPA
Noida: Average Salary = 10.08 LPA
Pimpri-Chinchwad: Average Salary = 4.00 LPA
Pune: Average Salary = 14.30 LPA
Pune(Kothrud +1): Average Salary = 6.00 LPA
Raipur: Average Salary = 4.00 LPA
Remote: Average Salary = 12.47 LPA
Surat: Average Salary = 3.75 LPA
Thane: Average Salary = 4.00 LPA
Trivandrum/ Thiruvananthapuram: Average Salary = 12.00 LPA
Udaipur: Average Salary = 1.88 LPA
United Kingdom (UK): Average Salary = 27.50 LPA

C:\Users\user\AppData\Local\Temp\ipykernel_1152\1884861424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_df['City'] = salary_df['Location'].str.split(',').str[0]